.card {
   border: 1px solid #e1e1e1;
   border-radius: 4px;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
   max-width: 400px;
   margin: 20px auto;
   border-radius: 4px;
   overflow: hidden;
}
.card button {
   background-color: #555;
}
